@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Mukta:wght@700&family=Orbitron&family=Oswald:wght@500;700&family=Raleway:wght@300&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:wght@300;600&family=Mukta:wght@700&family=Orbitron&family=Oswald:wght@500;700&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Poppins";
}
body {
  height: 100%;
  overflow: hidden;
}
/* Nav bar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}
.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transform: translateX(110px);
  margin: 0 90px;
}
.nav-item {
  padding: 0 40px;
  font-weight: 500;
  font-size: 16px;
}
.active-item {
  color: #fe5e35;
  font-weight: 1000;
  font-size: 19px;
}
.last {
  margin-left: 40px;
}
/* Intro section */
.intro-section {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-left: 16px;
  justify-content: center;
}

.left-section {
  /* flex-grow: 1;
  flex: 1 2; */
  flex: 2;
}
.right-section {
  flex: 1;
}
/* Left section */
.left-section > h3 {
  font-size: 30px;
  font-weight: 390;
}
.left-section > h3 > img {
  height: 30px;
}
.left-section > h1 {
  font-size: 55px;
  margin-top: 10px;
  font-family: "DynaPuff";
  font-weight: 700;
}
.sub-headlines {
  margin-top: 20px;
  margin-left: 80px;
}
.fa-solid {
  color: #fe5e35;
  transform: scale(1.5);
  padding: 10px;
}
.sub-headline {
  line-height: 35px;
  font-size: 16px;
  font-weight: 600;
}
.text {
  margin-left: 12px;
  margin-top: 28px;
  font-size: 16px;
  opacity: 0.5;
}
.action-btns {
  margin-top: 20px;
  margin-left: 1px;
}
.action-btn {
  padding: 11px 22px;
  background-color: #fe5e35;
  border-radius: 25px;
  margin-left: 25px;
  color: white;
  font-weight: 700;
  opacity: 0.95;
}
.headphone-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.right-section {
  margin-top: -25px;
}
.Headphone {
  width: 400px;
  margin-right: 100px;
}
.discount {
  position: relative;
  width: 130px;
  top: 90px;
  left: 160px;
}
.discount-content {
  color: #ffffff;
  position: relative;
  top: 264px;
  left: 66px;
}
.discount-content > h4 {
  font-size: 10px;
}
.discount-content > h1 {
  font-size: 35px;
  font-weight: 700;
}
.right-section > button {
  transform: translateX(340px);
}
.dots {
  display: flex;
  margin-left: 350px;
}
.dot {
  margin: 1px solid transparent;
  height: 2px;
  padding: 8px 8px;
  background-color: #111111;
  border-radius: 50%;
  margin-left: 18px;
}
.yellow-dot {
  background-color: #e8bd0d;
}
.tomato-dot {
  background-color: #b4161b;
}
.right-section > button {
  margin-top: 10px;
  margin-left: -0.009px;
}
